/* body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  color: #868F9B;
  margin: 0px;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  .nav {
    background: #1C1D21;
    opacity: 0.8;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    font-family: 'Varela Round', sans-serif;
    display: block;
    color: white;
    text-align: center;
    margin: 10;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:active {
    background-color: yellow;
    color: black;
  }
  
  li a:hover {
    background-color: yellow;
    color: black;
  }

  li a:focus {
    background-color: yellow;
    color: black;
  }


h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 21px;
}




.bg-dark {
    background-color:black;
}





#video{
  position: relative;
}
.bg-img-video {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}






*/


/* body */
body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}









/* nav */
.header{  background: #1C1D21;
  opacity: 0.8;
color: #fff;
position: fixed;
width: 100%;
}
.logo{
  line-height: 48px;
  float: left;
  text-transform: uppercase;
}

.menu{
  float: right;
  line-height: 48px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: yellow;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.home-wrapper-mobile{
  display:none;
  }

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}
.bg-img-mobile{
  display: none;
}

#home {
  height: 100%;
  padding: 0rem;
}
#home-mobile{
  display: none;
   }




/* mobile */
@media screen and (max-width:768px) {
  .header{  
  position: absolute;
}
#home {
  display:none;
} 
#home-mobile{
  text-align: center;
 background-color: black;
  display: block;
  padding-top: 10rem;
  padding-bottom: 5rem;
  color: white;
  }
  #home-mobile h1{
     color: white;
     }
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .bg-img{
    display: none;
  }
  .bg-img-mobile{
    display: initial;
    height:100%;
   width:100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
  .line-g {
   display: none;
  }
  .line-r {
    display: none;
   }
   .line-y {
    display: none;
   }
}


















/*input */
input[type="text"], input[type="email"], textarea {
  height: 40px;
  width: 50%;
  border: yellow;
  background: white;
  border-bottom: 2px solid #EEE;
  color: #354052;
  padding: 0px 10px;
  
}

textarea {
  padding: 0px 10px;
  width: 50%;
  min-height: 80px;
  resize: vertical;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: #6195FF;
  opacity: 1;
}











/* button */

.button {
  background-color: rgb(235, 235, 15);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}








.text-video{
  text-align: right;
  margin-right: 50px;
}





/*home*/
.home-wrapper {
  margin-left: 50;
  margin-top: 50;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  text-align: left;
}
.home-content{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
}
.home-content h1, h2, h3{
  color: white;
  
}




/*title*/
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #10161A;
}





/* bg */
.bg-gray {
  background-color: #FAFAFA;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.bg-img {
  height:100%;
   width:100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}











/*history*/
.container-flex{
  display: flex;
  flex-wrap: wrap;
}

.element1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element2 {
  display: flex;
  width: 90%;
}


#history{
margin-top: 30px;
text-align: center;

}

.some-page-wrapper {
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
}
.column-1 {
  display: flex;
  flex-direction: column;
  width:100%;
}
.column-2 {
  display: flex;
  flex-direction: column;
  width:100%;
}
.column-3 {
  display: flex;
  flex-direction: column;
  width:100%;
}
.column-4 {
  display: flex;
  flex-direction: column;
  width:100%;
}

/* history in mobile */
@media screen and (min-width: 768px) {
  .column-1 {
    flex: 1;
  }
  .column-2 {
    flex: 2;
    padding-right: 7rem;
  }
  .column-3 {
    flex: 2;
    padding-left: 7rem;
  }
  .column-4 {
    flex: 1;
    padding-right: 7rem;
  }
}










/* line and year in history*/
.line-g {
  border-left: 6px solid green;
  height: 120px;
  margin-left: 10px;
  margin-right: 50px;
}

.year-g{
  color: green;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;  
}

.line-r{
  border-left: 6px solid red;
  height: 120px;
  margin-left: 10px;
  margin-right: 50px;
}

.year-r{
  color: red;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.line-y{
  border-left: 6px solid yellow;
  height: 120px;
  margin-left: 10px;
  margin-right: 50px;
}

.year-y{
  color: yellow;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}




/* video */


#video{
  position: fixed;
  margin-left: 40px;
  margin-top: 20px;

}
.video-wrapper {
  margin-left: 50;
  width: 500;
  height: 300;
  right: 0px;
  top: 20%;
  text-align: left;
}




/* contact */
.contact-form {
  text-align: center;
  margin-top: 40px;
  background-color: rgb(223, 219, 219);
}
.contact-form .input {
  margin-bottom: 20px;
} 




/*footer*/
.footer{   
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  color: gray;
}
.sm-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}