.row-card {
    margin-top: 150px;
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .row-card-2 {
    margin-top: 50px;
    margin-left: 120px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;   
    width: 25%;
    margin:20px;
    justify-content: center;
    text-align: center;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }
  
  .title-poke {

  margin-top: 100px;
  position: absolute;
  text-align: center;
  width: 100%;
  }
  
  .button {
    background-color: rgb(235, 235, 15);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
  }

  @media screen and (max-width:768px) {
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;   
      width: 100%;
      justify-content: center;
      text-align: center;
    }
    .row-card {
      margin-left: 0px;
    }
    
    .row-card-2 {
      margin-left: 0px;
    }

  }